@model Favorite

<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Delete from list </h2>
            </hr>
        <div class="mb-3">
            <input asp-for="Username" disabled class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>    
        <div class="mb-3">
             <label>Movie Name</label>
             <select asp-for="MovieID" asp-items="ViewBag.MovieList" disabled class="form-select"></select>
        </div>    

        <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Delete Movie</button>
        <a asp-controller="Favorite" asp-action="Index" class="btn btn-lg btn-primary" style="width:200px">Back</a>
    </div>

</form>
@*
    @section Scripts{
        @{
         <partial name="_ValidationScriptsPartial"/> /controllerin frontend tarafında yapılması için
        }
    }
*@