@model Favorite

<form method="post" enctype="multipart/form-data">
    <div class="row">
            <div class="border p-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary" @(Model == null ? "Add favorite" : "Edit favorite")></h2>
                    </hr>
                </div>
                <div class="mb-3">
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Movie ID</label>
                    <select asp-for="MovieID" asp-items="ViewBag.MovieList" class="form-select"></select>
                </div>
                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Edit Movie</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Add to Favorite List</button>
                }
                <a asp-controller="Favorite" asp-action="Index" class="btn btn-lg btn-primary" style="width:200px">Back</a>
            </div>

        </div>

</form>