@model MovieGenre

<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary" Edit Movie Genre></h2>
            </hr>
        </div>
        <div class="mb-3">
            <label>Movie Genre</label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Edit Movie Genre</button>
        <a asp-controller="MovieGenre" asp-action="Index" class="btn btn-lg btn-primary" style="width:200px">Back</a>
    </div>

</form>
@*
    @section Scripts{
        @{
         <partial name="_ValidationScriptsPartial"/> /controllerin frontend tarafında yapılması için
        }
    }
*@