@{
    ViewData["Title"] = "Home Page";
}
<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <p class="tm-hero-subtitle">
                <h2 class=""></h2>
                <h2 class=""></h2>
            </p>
        </div>
    </div>
    <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <h2 class="text-white text-center mb-4 tm-section-title">RECOMMENDED FOR YOU</h2>
                <p class="mx-auto tm-section-desc text-center">
                    recommended movies
                </p>
                <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                    <div class="tm-testimonials-carousel">
                        <figure class="tm-testimonial-item">
                            <img src="~/img/" alt="Image" class="img-fluid mx-auto">
                            <blockquote>obj1</blockquote>
                            <figcaption>Obj2</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/img/" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Obj1</blockquote>
                            <figcaption>obj2</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/img/" alt="Image" class="img-fluid mx-auto">
                            <blockquote>obj1</blockquote>
                            <figcaption>obj2</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/img/" alt="Image" class="img-fluid mx-auto">
                            <blockquote>obj1</blockquote>
                            <figcaption>obj2</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/img/" alt="Image" class="img-fluid mx-auto">
                            <blockquote>obj1.</blockquote>
                            <figcaption>obj2</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>

<section id="gallery" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Most Watched</h2>
                <p class="mx-auto tm-section-desc">
                    Most watched movies this week.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                        <a href="~/img/sefiller-13.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 1" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 2" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 3" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 4" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 5" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 6" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 7" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/" alt="Image 8" class="img-fluid">
                                <figcaption>
                                    <h2><i>Movie<span>Director</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

    <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Us</h2>
                <p class="mb-5">
                </p><br>
            </div>

            <div class="col-sm-12 col-md-6">
                <form action="" method="get">
                    <input id="name" name="name" type="text" placeholder="Name" class="tm-input" required />
                    <input id="email" name="email" type="email" placeholder="Email" class="tm-input" required />
                    <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                    <button type="submit" class="btn tm-btn-submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="" class="item-link">
                        <i class="far fa-2x fa-comment mr-4"></i>
                        <span class="mb-0">Online</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">filmfolio@filmFolio.com</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Lokasyon</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="tel:0100200340" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">255-662-5566</span>
                    </a>
                </div>

                <div class="~/template/contact-item">&nbsp;</div>

            </div>


        </div>

    </div>

    <footer class="text-center small tm-footer">
        <p class="mb-0">
        </p>
    </footer>

</section>